<h1><%= @user.name %></h1>

<h3>Created Events</h3>
<ul>
    <% @user.created_events.each do |event| %>
        <li><%= link_to event.description, event_path(event) %></li>
<% end %>
</ul>

<h3>Past Events</h3>
<ul>
    <% @user.attendances.each do |attendance| %>
        <% if attendance.event.date < Time.now %>
            <li><%= attendance.event.description %></li>
        <% end %>
    <% end %>
</ul>

<h3>Upcoming Events</h3>
<ul>
    <% @user.attendances.each do |attendance| %>
        <% if attendance.event.date > Time.now %>
            <li><%= attendance.event.description %></li>
        <% end %>
    <% end %>
</ul>